.header-components {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-side {
  display: flex;
  height: 100%;
  width: 60%;
}
.links {
  display: flex;
  align-items: center;
  width: 30%;
}

.links a {
  margin-right: 10px;
}
