.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 500vh;
  width: 100%;
  background-image: url('./image/black-concrete-wall.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}

.home-page {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-page {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-page {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-page {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-page {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
